*.csl
*.cso
*.iml
*.rapc
*.signed
*.swoi
*.swp
*ant_tasks
*configuration.txt
.gradle/

# OS-specific files
.DS_Store

# User-specific configurations
.idea/assetWizardSettings.xml
.idea/caches/
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/nexus-iq.xml
.idea/runConfigurations.xml
.idea/scopes/scope_settings.xml
.idea/sonarlint/issuestore/index.pb
.idea/statistic.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml.classpath
.idea/gradle.properties
.settings/
.vscode/

bin
build/
/build
/captures
classes-processed.map
gen
gradle.bat
local.properties
seeds.txt
unused.txt
jacoco.exec
gradlew
